@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Share+Tech+Mono');

body {
	background-color: #34495e;
	margin: 0;
	position: relative;
	font-family: 'Roboto Mono', monospace;
}

.container {
	position: absolute; 
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.wrapper {
	background-color: #f1c40f;
	display: inline-block;
	padding: 40px 20px;
	border: 15px outset #bc990b;
	border-radius: 20px;
	margin-bottom: 30px;
}

.stopwatch {
	background-color: #75c4b4;
	display: inline-block;
	padding: 20px 10px;
	border-radius: 10px;
	border: 10px inset #5d9b8e;
	font-size: 64px;
	font-style: italic;
	font-family: 'Share Tech Mono', monospace;
}

.controls {
	margin: 25px auto 0;
	border: 1px outset #262626;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 80%;
	background-color: #494949;
	padding: 8px;
}

.button {
	color: #fff;
	background-color: #262626;
	padding: 4px 8px;
	border: 2px outset #666;
	border-radius: 4px;
	font-size: 18px;
	width: 60px;
	text-align: center;
	text-decoration: none;
}

.button:hover {
	border: 2px inset #666;
}

.button[disabled] {
	color: #ccc;
	border: 2px outset #666;
}

.results {
  background: #fff;
  padding: 30px;
  position: relative;
}

.results,
.results::before,
.results::after {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
}

.results::before,
.results::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #eee;
}

.results::before {
  right: 15px;
  top: 0;
  transform: rotate(-1deg);
  z-index: -1;
}

.results::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}

.results strong {
	display: block;
	text-align: center;
	font-size: 24px; 
}

.table-buttons {
	display: block;
	text-align: center;
}

.table-button {
	color: #666;
	text-decoration: none;
}

.table-button:hover {
	color: #262626;
}

.table-button:nth-of-type(2) {
	margin-left: 30px;
}

.results ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.results ul li {
	margin-top: 10px;
	font-size: 32px;
}